* {
    margin: 0;
    padding: 0;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    font-family: Courier, monospace;
    background-color: black;
}

p {
        hyphens: none;
        font-size: 100%;
        position: absolute;
        overflow: hidden;
        color: white;
        background: transparent;
        white-space: pre-wrap;
        word-wrap: normal;
        overflow-wrap: normal;
        word-break: break-all;
}

*::-webkit-scrollbar {
    display: none;
}
